{{ zabbix_mongodb_plugin_dir }}mikoomi-mongodb-plugin-{{ zabbix_mongodb_mongodb_version | replace ('.', '') }}.sh -H {{ zabbix_agent_serveractive }} -z {{ zabbix_mongodb_hostname }} -h {{ zabbix_mongodb_hostname }} -p {{ zabbix_mongodb_mongodb_port }} -u {{ zabbix_mongodb_username }} -x {{ zabbix_mongodb_password }} 2> /dev/null
